@import url("https://fonts.google.com/specimen/Barlow+Semi+Condensed");
*{
    box-sizing: border-box;
}
body{
    background-color: hsl(210, 46%, 95%);
}
.container
{
    padding:75px 75px 75px 75px;
    width:1255px;
    height:820px;
    
    
}
.test
{

    width:75%;
    height:100%;
    
}
.test2
{
    padding:30px 30px 30px 30px;
    margin-left:20px;
    width:23%;
    height:100%;
    background-color:hsl(0, 0%, 100%);
    border-radius:7px;
    position:relative;
}
.test,.test2
{
   float:left;
}
.t{
    height:50%;
    width:100%;
}
.t2{
    height:45%;
    width:100%;
}
.tt,.tt1
{
    float:left;
}

.tt{
    padding:30px 30px 30px 30px;
    height:100%;
    width:66%;
    background-color:hsl(263, 55%, 52%);
    border-radius:7px;
    background-image:url(../images/bg-pattern-quotation.svg);
    background-repeat:no-repeat;
    background-position: 400px 0px;
    position:relative;
}
.tt1{
    padding:30px 30px 30px 30px;
    margin-left:25px;
    height:100%;
    width:30%;
    border-radius:7px;
    background-color:hsl(217, 19%, 35%);
    position:relative;

}
.t3,.t4
{
    float:left;
}
.t3{
    padding:30px 30px 30px 30px;
    margin-top:36px;
    height:100%;
    width:30%;
    border-radius:7px;
    background-color:hsl(0, 0%, 100%);
    position:relative;
}
.t4{
    padding:30px 30px 30px 30px;
    margin-top:36px;
    margin-left:25px;
    height:100%;
    width:66%;
    border-radius:7px;
    background-color:hsl(219, 29%, 14%);
    position:relative;
}
img{
    width:35px;
    border-radius:100px;
}
.header,.header2,.header4
{
    position:absolute;
    top:30px;
    left:80px;
    line-height:20px;
    font-size:13px;
    color:hsl(0, 0%, 100%);
    font-family:'Barlow Semi Condensed', Geneva, Verdana, sans-serif;;
}
.footer,.footer2,.footer4
{
    font-size:13px;
    position:absolute;
    top:50px;
    left:80px;
    color:hsl(0, 0%, 100%,50%);
    font-family:'Barlow Semi Condensed', sans-serif;
}
.body1,.body3,.body7
{
    line-height:22px;
    margin-top:20px;
    color:hsl(0, 0%, 100%);
    font-weight:600;
    font-family: 'Barlow Semi Condensed',sans-serif;
    /*font-family:'Barlow Semi Condensed', sans-serif;*/
}
.body2,.body4,.body8
{
    line-height:20px;
    margin-top:20px;
    color:hsl(0, 0%, 100%,50%);
    font-size:13px;
    font-family: 'Barlow Semi Condensed', Geneva, Verdana, sans-serif;
    font-weight:500;
}
.header3,.header5
{
    position:absolute;
    top:30px;
    left:80px;
    display:flex;
    flex-direction:column;
    line-height:20px;
    font-size:13px;
    
    font-family: 'Barlow Semi Condensed', Geneva, Verdana, sans-serif;
    color:hsl(217, 19%, 35%);

}
.footer3,.footer5
{
    font-size:13px;
    position:absolute;
    top:50px;
    left:80px;
    color:hsl(217, 19%, 35%,50%);
    font-family:'Barlow Semi Condensed', sans-serif;
    /*color:hsl(0, 0%, 81%,50%);*/
}
.body5,.body9
{
    line-height:20px;
    margin-top:20px;
    font-weight:600;
    font-family: 'Barlow Semi Condensed',sans-serif;
    color:hsl(217, 19%, 35%);
}
.body6,.body10
{
    line-height:20px;
    margin-top:20px;
    font-size:13px;
    font-weight:500;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color:hsl(217, 19%, 35%,70%);
}
.bottom
{
    margin-top:50px;
    margin-bottom:50px;
    text-align:center;
    color:hsl(219, 29%, 14%);
    font-style: italic;
    font-weight:900;
}
@keyframes myfirstanime
{
    0%{background-color:hsl(219, 29%, 14%);left:0px;top:0px;}
    50%{background-color:hsl(263, 55%, 52%);left:960px;top:0px;}
    /*50%{background-color:hsl(0, 0%, 100%);left:1180px;top:810px;}
    75%{background-color:aqua; left:0px;top:810px;}*/
    100%{background-color:hsl(219, 29%, 14%);left:0px;top:0px;}
}
.animation
{
    text-align:center;
    color:white;
    font-weight: bold;
    font-style: italic;
    position:relative;
    height:130px;
    width:300px;
    border-radius:50px;
    background-color:hsl(219, 29%, 14%);
    animation-name:myfirstanime;
    animation-duration:15s;
    animation-timing-function:ease-in-out;
}
#txt
{
    position:absolute;
    font-size:20px;
    top:40px;
    left:170px;
}
.prem
{
    position:absolute;
    top:10px;
    left:10px;
    
    width:85px;
    border-radius:50px;
}